.header {
    grid-area: h;
    background-color: green;
  }
  .header img {
    width: 50px;
    margin-top: 5px;
    margin-left: 15px;
  }
  .loginBlock {
    float: right;
  }
  .loginBlock a {
    color: white;
  }